body,
html {
	height: 100%;
}

.body-main {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	display: inline-block;
}

.Title-container {
	background-color: #adc2f6;
	width: 100%;
	height: 30vh;
	text-align: center;
	display: block;
}

.title-text {
	position: relative;
	top: 50%;
	font-weight: 500;
	transform: translateY(-50%);
}

.tabs {
	text-decoration: none;
	margin: 2%;
	color: black;

}


.tabs:active,
.tabs:hover {
	color: #fa923f;
}

.tabs-container {
	margin: auto;
	border: solid black;
	border-width: 2px 2px 0px 2px;
	border-radius: 5px 5px 0px 0px;
	width: 100%;
}

.tabs-container:active,
.tabs-container:hover {
	color: #fa923f;
}

.alltabs {
	margin-top: 1%;
	border-radius: 20px;
	display: inline-block;
	text-align: left;
	width: 100%;

}

.cards {
	display: inline-block;
	width: 100%;
}

.Card_Info {
	margin-left: 2%
}

.card_holder {
	position: relative;
	max-width: 1920px;
	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	margin-left: auto;
}

.card-holder-style {

	background-color: white;
}